# Bay Area Skydiving 2018 Tracking Contest

The code and the cool stuff will happen here.

In [1]:
%matplotlib inline


import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

sns.set(style='darkgrid')

In [7]:
import os

FLYSIGHT_DIR = './FlySight'

for fileName in sorted(os.listdir(FLYSIGHT_DIR)):
    print(os.path.join(FLYSIGHT_DIR, fileName))

./FlySight/Achal-Asawa.CSV
./FlySight/Ben-Myles.CSV
./FlySight/Charlie-Krem.CSV
./FlySight/Eugenio-pr3d4t0r.CSV
./FlySight/Jean-T.CSV
./FlySight/Jessy-Hurst.CSV
./FlySight/Joe-Kam.CSV
./FlySight/Katie-Upham.CSV
./FlySight/Mad-John.CSV
./FlySight/Michal-Tomaszewski.CSV
./FlySight/N8.CSV
./FlySight/Nate-Nielsen.CSV
./FlySight/Pete-Maverick.CSV
./FlySight/Shaun-Fenner.CSV
./FlySight/Time-Mattson.CSV
./FlySight/Valentin-Ryabov.CSV
./FlySight/William-De.CSV
./FlySight/Xinqi-Wang.CSV

In [11]:
dataFrame = pd.read_csv(os.path.join(FLYSIGHT_DIR, 'Achal-Asawa.CSV'))
dataFrame.head()

,time,lat,lon,hMSL,velN,velE,velD,hAcc,vAcc,sAcc,heading,cAcc,gpsFix,numSV
0,NaN,(deg),(deg),(m),(m/s),(m/s),(m/s),(m),(m),(m/s),(deg),(deg),NaN,NaN
1,2018-07-07T22:15:26.59Z,37.8350893,-121.6325004,-0.054,0.79,0.31,-1.56,873.128,894.316,10.37,0.00000,180.00000,3.0,4.0
2,2018-07-07T22:15:26.79Z,37.8351479,-121.6324856,16.246,0.53,0.28,-1.21,132.503,93.036,7.40,0.00000,180.00000,3.0,4.0
3,2018-07-07T22:15:27.00Z,37.8351874,-121.6324991,16.320,0.44,0.16,-0.92,102.508,71.949,5.49,0.00000,180.00000,3.0,4.0
4,2018-07-07T22:15:27.20Z,37.8352039,-121.6325037,16.369,0.36,0.06,-0.63,90.562,63.524,4.59,0.00000,180.00000,3.0,4.0

In [18]:
dataFrame = dataFrame[2:]
print(len(dataFrame))

14109

In [19]:
dataFrame.dtypes

time        object
lat         object
lon         object
hMSL        object
velN        object
velE        object
velD        object
hAcc        object
vAcc        object
sAcc        object
heading     object
cAcc        object
gpsFix     float64
numSV      float64
dtype: object